.myicon{
    content: url("https://docs.webix.com/samples/65_spreadsheet/08_ui/images/edit.svg");
    font-size: 17px;
    display: inline-block;
    width: 20px;
    margin-top: 6px;
}

/* styles for top */

.top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top i {
    width: 20px;
}

.top i, .top span {
    display: block;
    margin-right: 5px;
}

